html, body {
  font-family: "Josefin Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif; /* 1 */
  background: #000;
  color: white;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  position: relative;
}

a, a:visited {
  color: #3edada;
  text-decoration: none;
}

.container {
  position: relative;
  width: calc(100vw - 200px);
  margin-left: 50px;
  height: 100vh;
}

section {
  display: flex;
  justify-content: center;
  align-content: space-around;
}

section:after {
  content: "";
  display: table;
  clear: both;
}

.mid {
  display: inline-block;
  margin-top: -15px;
  vertical-align: middle;
  padding-left: 12px;
}

.mount {
  width: 800px;
  height: 800px;
  position: absolute;
  right: -100px;
  z-index: 1;
}

.letter-contain {
  margin-top: 100px;
  margin-right: 100px;
  position: relative;
  z-index: 3000;
}

.font-text {
  width: 30%;
  margin-top: 160px;
  position: relative;
  z-index: 3000;
}

.font-text p, .photo-text {
  line-height: 1.6em;
}

button.next {
  padding: 13px 40px 10px;
  background: rgb(40, 169, 224);
  border-radius: 10px;
  cursor: pointer;
  border: none;
  color: black;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  font-weight: bold;
  margin-top: 20px;
  outline: 0;
}

.letter {
  width: 409.5;
  height: 515.9;
}

.st0 {
  fill: none;
  stroke: rgba(255, 255, 255, 0.16);
  stroke-miterlimit: 10;
}

/* -- slide button -- */

.slide {
  font-weight: 300;
  position: relative;
  background: transparent;
  -webkit-transition: 0.5s all cubic-bezier(0.95, 0.05, 0.795, 0.035);
  transition: 0.5s all cubic-bezier(0.95, 0.05, 0.795, 0.035);
  z-index: 1;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-perspective: 1000px;
          perspective: 1000px;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  cursor: pointer;
  overlfow: hidden;
}
.slide:hover:before {
  opacity: 1;
}
.slide::before {
  content: "";
  display: block;
  border-radius: 10px;
  position: absolute;
  background: #27aae1; /* Old browsers */
  background: -moz-linear-gradient(top, #27aae1 0%, #6474C6 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #27aae1 0%,#6474C6 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #27aae1 0%,#6474C6 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#27aae1', endColorstr='#6474C6',GradientType=0 );
  -webkit-transition: 0.5s all cubic-bezier(0.19, 1, 0.22, 1);
  transition: 0.5s all cubic-bezier(0.19, 1, 0.22, 1);
  z-index: -1;
  opacity: 0;
  overflow: hidden;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

/* responsive styles */

@media screen and (min-width: 801px) {
  .letter {
    width: 409px;
    height: 516px;
  }
}
@media screen and (max-width: 800px) {
  .container {
    width: 90vw;
  }

  .letter {
    width: 100%;
    height: auto;
  }

  .letter-contain {
    width: 40%;
    margin-right: 20px;
    margin-top: 60px;
  }

  .font-text {
    width: 60%;
    margin-top: 50px;
    margin-right: 30px;
  }
  .photo-contain {
    margin-right: 20px !important;
    width: 30% !important;
  }
  .photo-text {
    width: 53% !important;
  }
}
